@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

.settingsFont {
  background-color: #fff8f8;
  padding: 0.3vw 0.2vw;
  border-radius: 50px;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 1.7vw;
  height: 1.7vw;
  transition: height 0.3s ease-in-out;
  box-shadow: 0px 8px 20px -3px rgba(0, 0, 0, 0.075);

  @include u.breakpoint("large") {
    width: 8vw;
    height: 8vw;
  }

  &__open {
    transition: height 0.3s ease-in-out;
    height: 12vw;
    @include u.breakpoint("large") {
      height: 50vw;
    }
  }
  &__note {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    margin-top: 0.9vw;

    @include u.breakpoint("large") {
      margin-top: 3vw;
    }

    &__ctn__input {
      position: relative;
      width: 1.2vw;
      height: 1.2vw;
      @include u.breakpoint("large") {
        width: 5vw;
        height: 5vw;
      }

      input {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        top: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        cursor: pointer;
      }
    }
  }

  &__star {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__trash {
    margin-top: 0.7vw;
    width: 1.2vw;
    z-index: 100;

    @include u.breakpoint("large") {
      margin-top: 3.5vw;
      width: 4.5vw;
    }
  }

  &__openandclose {
    margin-top: -0.2vw;
    width: 2vw;
    display: flex;
    justify-content: center;
    span {
      font-family: "OktaNeue-Regular";
      height: 1.3vw;
      line-height: 50%;
      font-size: 1.4vw;
      color: $font-darkgrey-color;

      @include u.breakpoint("large") {
        height: 6.5vw;
        font-size: 6vw;
        font-weight: 100;
      }
    }
  }
  &__close {
    opacity: 1;
    position: absolute;
    top: 0.3vw;
    width: 1.2vw;
    transition: all 0.3s ease-in-out;

    @include u.breakpoint("large") {
      top: 1vw;
      width: 6vw;
    }
  }
}
