@import "../../../public/styles/global";

.hey {
    h2 {
        font-family: "Nacelle";
        font-size: 3rem;
    }
}

.typos > h3,
.favorites__typos > h3 {
    font-family: "Nacelle-Bold";
    font-size: $fontsize-l;
    width: 90%;
    margin: 0;
    margin-top: $padding-l;
    margin-bottom: $padding-s;
    margin-inline: auto;
}

.typos__params {
    width: 90%;
    margin-inline: auto;
    margin-bottom: $padding-s;
    display: flex;
    gap: $padding-s;

    .panels,
    .squares {
        height: 27px;
    }

    span {
        font-family: "Nacelle";
        font-size: $fontsize-s;
        line-height: 1.7;
    }
}

.favorite__box {
    margin-inline: auto;
    width: 90%;
    display: flex;
    height: 35vh;
    overflow-y: scroll;

    flex-wrap: wrap;
    gap: 40px;
    row-gap: 20px;
    padding: 2vh 2vw;
    // border-radius: 5px;
    border-top: 1px solid $black-color;
    border-bottom: 1px solid $black-color;
}

.favorite__ctn {
    display: flex;
    width: 30%;
    // border: 2px solid red;
    gap: 10px;

    &__wrapper {
        width: max(300px, 90%);
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .legend {
            font-family: "Nacelle";
            font-size: 1rem;
            margin-top: 0px;
        }
    }
}

.favorite {
    width: 100%;
    height: 80%;
    border: 2px solid $black-color;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    overflow: hidden;
    cursor: pointer;

    &__wrapper {
        width: 100%;
        padding-left: 10px;
        overflow: hidden;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        &__note {
            height: 80%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;

            gap: 4px;
            input {
                margin: 0;
                -webkit-appearance: none;
                appearance: none;
                width: 13px;
                height: 13px;
                border: 2px solid $black-color;
                cursor: pointer;
            }
            input:checked {
                width: 13px;
                height: 13px;
                background-color: $black-color;
                border: 2px solid $black-color;
            }
        }

        &__text {
            display: flex;
            align-items: center;
            justify-content: left;
            white-space: nowrap;
            height: 3vh;
            transition: 1s;
            span {
                font-size: 4rem;
            }
        }
        &__text:hover {
            transform: translateX(-20%);
        }
    }
    &__legend {
        display: flex;
        width: calc(100% + 4px);
        justify-content: space-between;
    }
}
