@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

.favorites {
  margin-left: 20%;
  width: 77%;

  &__box {
    margin-top: 15vh;
    width: 100%;

    &__ctn {
      display: flex;
      flex-wrap: wrap;
      gap: 1vw;
      row-gap: 1vw;
      margin: 0;
      padding: 0;
      margin-bottom: 10vh;
    }
  }
}

.container__title {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  background-color: #fff8f8af;
  width: 100%;
  min-height: 70px;
  height: 5dvw;
  z-index: 900;
  box-sizing: border-box;
}

.title {
  font-family: "InstrumentSans-Regular";
  display: flex;
  gap: 2vw;
  height: 3.5vw;
  margin-left: 20%;
  align-items: last baseline;
  h3 {
    font-family: "InstrumentSans-Regular";
    font-size: 2vw;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  span {
    font-size: 1vw;
  }
}
