@use "/public/styles/utils/breakpoints" as u;
@import "../../../public/styles/global.scss";

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 25, 29);

  &__container {
    display: flex;
    align-items: last baseline;
  }
}

.circle {
  width: 7.5vw;
  height: 7.5vw;
  border-radius: 50%;
  background-color: $font-fade-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5vw;
  margin-top: -2vw;
  transform: translateY(-1000%);
  @include u.breakpoint("large") {
    width: 13vw;
    height: 13vw;
    transform: translateY(-1500%);
  }
}

.letter {
  font-family: "RightDidone-CompactDark";
  font-size: 11vw;
  color: $white-color;
  opacity: 0;
  @include u.breakpoint("large") {
    font-size: 20vw;
  }
}

@keyframes pulse {
  0% {
    transform: translateY(-1000%);

    @include u.breakpoint("large") {
      transform: translateY(-1500%);
    }
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5%);
    @include u.breakpoint("large") {
      transform: translateY(-1500%);
    }
  }
}
