@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

//___DETAILS________________________________________________

.checkbox__fav {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox__ctn {
    right: 7.1rem;
    bottom: 1.8rem;
    position: absolute;
    z-index: 10;
    display: inline-block;
}

.checkbox__img {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Permet aux événements de pointer de passer à travers l'image */
}

//___GLOBAL__________________________________________________

.favorite {
    // border: 2px solid red;
    height: clamp(f.rem(90), 20vh, f.rem(130));
    display: flex;
    flex-direction: column;

    &__box {
        width: clamp(f.rem(200), 27vw, f.rem(800));
        height: clamp(f.rem(80), 17vh, f.rem(100));
        position: relative;
        display: flex;
        // border: 2px solid blue;
    }

    &__ctn {
        border: 1.5px solid $black-color;
        width: 80%;
        height: 100%;
        font-size: $fontsize-xl;
        overflow: hidden;
        text-overflow: clip;
        display: flex;
        align-items: center;

        &__wrapper {
            margin-left: 1vw;
            display: flex;
            align-items: center;
            white-space: nowrap;
            height: 2px;
            width: 400%;
            // border: 2px solid green;
        }
    }
}

.tools {
    display: flex;
    flex-direction: column;

    background-color: $grey-color;
    width: f.rem(45);
    button {
        margin-left: -5px;
        border: none;
        background: none;
        height: 30px;
        width: 30px;
    }
    .fonttest {
        margin-left: -3px;
    }
}

.rate {
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: space-between;

    &__note {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 5px;
        margin-top: 3px;

        input {
            cursor: pointer;
            -webkit-appearance: none;
            appearance: none;
            border: 1px solid $black-color;
            width: 15px;
            height: 15px;
        }
        input:checked {
            background-color: $black-color;
        }
    }

    &__trash {
        cursor: pointer;
        margin-top: 3px;
        margin-left: 3px;
        width: 20px;
        height: 20px;
    }
}
