@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

//___DETAILS________________________________________________

.checkbox__fav {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox__ctn {
    right: 2.1rem;
    top: 0.4rem;
    position: absolute;
    z-index: 10;
    display: inline-block;
}

.checkbox__img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Permet aux événements de pointer de passer à travers l'image */
}

//___GLOBAL__________________________________________________

.favorite {
    cursor: pointer;
    height: clamp(f.rem(90), 20vh, f.rem(130));
    width: clamp(f.rem(200), 25vw, f.rem(800));

    display: flex;
    align-items: center;
    flex-direction: column;

    &__box {
        width: clamp(f.rem(200), 25vw, f.rem(800));
        height: clamp(f.rem(80), 17vh, f.rem(100));
        position: relative;
        display: flex;
    }

    &__card {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        // border: 2px solid red;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__ctn {
        width: 100%;
        height: 100%;
        font-size: $fontsize-l;
        overflow: hidden;
        text-overflow: clip;
        display: flex;
        align-items: center;

        &__wrapper {
            margin-left: 1vw;
            display: flex;
            align-items: center;
            white-space: nowrap;
            height: 2px;
            width: 400%;

            transition: 0.7s;
        }
    }
}

.tools {
    opacity: 0;
    display: flex;
    flex-direction: row-reverse;

    width: f.rem(25);
    margin-top: -5px;

    button {
        border: none;
        background: none;
        height: 20px;
        width: 20px;
    }
    .fonttest {
        margin-left: -3px;
        margin-right: 10px;
    }

    .variable {
        margin-left: -2px;
        margin-right: 4px;
    }
}

.rate {
    opacity: 0;
    display: contents;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;

    &__note {
        display: flex;
        flex-direction: row-reverse;
        gap: 2px;
        margin-right: 5px;
        margin-top: 3px;

        &__ctn {
            position: relative;

            width: 18px;
            display: flex;
            &__input {
                position: absolute;
                z-index: 10;
                input {
                    cursor: pointer;
                    -webkit-appearance: none;
                    appearance: none;
                    border: 1px solid $black-color;
                    width: 13px;
                    height: 13px;
                }
                input:checked {
                    background-color: $black-color;
                }
            }
        }
        &__icone {
            width: 20px;
            top: 0;
            position: absolute;
        }
    }

    &__trash {
        cursor: pointer;
        margin-top: 3px;
        margin-left: 11px;
        width: 20px;
        height: 20px;
    }
}

.favorite:hover .rate {
    opacity: 1;
}

.favorite:hover .tools {
    opacity: 1;
}

.favorite:hover .checkbox__img {
    opacity: 1;
}

.favorite:hover .favorite__ctn__wrapper {
    transform: translateX(-70px);
    transition: 0.7s;
}
