@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

.menu {
  position: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  left: 0;
  top: 0;
  min-height: 100%;
  height: 100vh;
  width: 17vw;
  background-color: #fff7f7;
  //   background-color: #ebe0e0;
  z-index: 999;
  display: flex;
  color: $font-darkgrey-color;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "InstrumentSans-Medium";
  box-shadow: 1px 0px 15.9px 0px rgba(46, 46, 46, 0.16);

  &__top {
    width: 100%;
    // max-height: 80vh;
    overflow: hidden;
    overflow-y: auto;
  }

  &__box__selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70px;
    height: 5dvw;
    box-sizing: border-box;
    // border-bottom: 1px solid rgb(156, 156, 156);
  }
  &__selector {
    display: flex;
    justify-content: space-around;
    gap: 0.2vw;
    border-radius: 100px;
    box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    background-color: #fff8f8af;
    padding: 0.2vw 0.2vw;
    font-size: 0.9vw;
    &__button {
      border: none;
      background: none;
      font-size: $fontsize-m;
      font-style: normal;
      font-family: "InstrumentSans-Regular";
      font-weight: 100;
      display: flex;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      color: $font-darkgrey-color;
      &:hover {
        color: $font-fade-blue;
      }
    }
    &__menu,
    &__folder {
      border: none;
      font-style: normal;
      font-family: "InstrumentSans-Regular";
      font-weight: 500;
      display: flex;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      border-radius: 100px;
      background-color: $primary-color;
      color: $white-color !important;
    }
  }

  &__box {
    // border-bottom: 1px solid rgb(156, 156, 156);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    // border: 2px solid red;
  }

  &__menu {
    padding: 1vw 1.5vw;
    width: 100%;
    margin-top: 1vw;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-weight: 400;
    font-size: 1vw;
    transition: 0.3s ease-in-out;
    a,
    a:active,
    a:visited {
      padding: 13px 0px;
      text-decoration: none;
      color: $font-darkgrey-color;
    }
    a:hover {
      border-radius: 12px;
      color: $font-fade-blue;
      transition: 0.3s ease-in-out;
    }
  }

  &__settings {
    // border: 2px solid red;
    border-top: 1px solid rgb(156, 156, 156);
    width: 100%;
    text-align: left;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    padding: 1vw 1.5vw;

    a,
    a:active,
    a:visited {
      text-decoration: none;
      color: $font-darkgrey-color;
    }
    a:hover {
      border-radius: 12px;
      text-decoration: underline;
    }
    &__button {
      color: $font-darkgrey-color;
      border: none;
      text-align: left;
      font-style: normal;
      margin: 0;
      padding: 0;
      font-size: $fontsize-m;
    }
  }

  &__box__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw;
    border-top: 1px solid rgb(173, 173, 173);
  }
  &__logo {
    margin-left: -0.3vw;
    width: 45%;
    height: fit-content;
    // border: 2px solid red;
    &__typ {
      font-family: "VCR_OSD";
      font-size: clamp(f.rem(27), f.rem(30) + 1vw, f.rem(40));
    }
    &__pov {
      font-family: "Vidaloka";
      font-size: clamp(f.rem(27), f.rem(30) + 1vw, f.rem(40));
    }
  }
}
