@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

.allfonts {
  margin-left: 20%;
  width: 80%;
  box-sizing: border-box;
  color: $font-darkgrey-color;
  @include u.breakpoint("large") {
    margin-left: 0%;
    width: 100%;
  }
}

.content {
  height: fit-content;
  margin-top: 5vh;
  width: 100%;

  &__ctn {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    row-gap: 1vw;
    margin: 0;
    padding: 0;
    // border: 2px solid red;
    margin-bottom: 10vh;

    @include u.breakpoint("large") {
      gap: 2vw;
      row-gap: 3vw;
      justify-content: center;
    }
  }
}

.container__title {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  background-color: #fff8f8af;
  width: 100%;
  min-height: 70px;
  height: 5dvw;
  z-index: 900;
  box-sizing: border-box;
  @include u.breakpoint("large") {
    min-height: 70px;
    height: 20dvw;
  }
}
.title {
  font-family: "InstrumentSans-Regular";
  display: flex;
  gap: 2vw;
  height: 3.5vw;
  align-items: last baseline;
  @include u.breakpoint("large") {
    height: 10vw;
    margin-left: 5%;
    flex-direction: column;
    margin-top: 2vh;
  }

  h3 {
    font-family: "InstrumentSans-Regular";
    font-size: 2vw;
    height: 3.5vw;
    line-height: 250%;
    font-weight: 300;
    margin: 0;
    padding: 0;
    @include u.breakpoint("large") {
      font-size: 8vw;
      line-height: 100%;
    }
  }

  button {
    border: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
  }
}
