@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

.loginForm {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  width: 100%;
  min-width: 200px;
  font-weight: 600;
  color: #646464;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  background-color: #fff8f8d2;
  z-index: 1000;
  border-radius: 20px;
  padding: 1.5vw;
  padding-bottom: 0;
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.212);

  @include u.breakpoint("large") {
    padding: 3vw;
  }

  &__fields {
    width: 100%;
    margin-inline: auto;
  }

  &__form,
  &__password {
    width: 100%;
    label {
      margin-bottom: f.rem(5);
      font-weight: 400;
      font-size: 0.9vw;

      @include u.breakpoint("large") {
        font-size: 2.5vw;
      }
    }
    input {
      background: #fffbfb;
      box-shadow: 0px 4px 7px -2px rgba(87, 87, 87, 0.103);
      font-size: $fontsize-xxs;
      padding-left: 0.5vw;
      margin-inline: auto;
      width: 100%;
      border-radius: 7px;
      height: f.rem(38);
      margin-bottom: f.rem(10);
      border: 1px solid #c8c5c5;
      font-weight: 500;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      @include u.breakpoint("large") {
        padding-left: 2vw;
        font-size: 3vw;
      }
    }
    input:focus {
      transition: 0.2s ease-in-out;
      outline: 3.5px solid rgba(181, 197, 255, 0.63);
      border-radius: 7px;
      border: 1px solid $primary-color;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 1vw;
  }
  &__email {
    display: flex;
    flex-direction: column;
  }
  &__password {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    background-color: $primary-color;
    font-style: normal;
    height: calc(f.rem(38) + 3px);
    color: $white-color;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      left: -100%;
      height: 100%;
      transition: transform 0.5s ease-in-out;
      background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
      );
      pointer-events: none;
    }

    &:hover {
      &::before {
        pointer-events: none;
        transform: translateX(200%);
      }
    }
    &:active {
      outline: 2px solid $font-fade-blue; // Replace $some-color with the color you want
    }
  }
}

.register {
  // text-align: center;
  font-weight: 500;

  font-size: $fontsize-xxs;
  margin: 0;
  padding: 0;

  a {
    color: $font-fade-blue;
    text-decoration-line: underline;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  @include u.breakpoint("large") {
    font-size: 3vw;
  }
}

.error {
  color: rgb(247, 45, 45);
  font-size: $fontsize-xxs;
  font-weight: 500;
  margin: 0;
  padding: 0.3vw 0;
  // width: 70%;
  text-wrap: wrap;
  // margin-top: 0.5vw;
  @include u.breakpoint("large") {
    font-size: 2.5vw;
  }
}
