@import "../../public/styles/_global.scss";

.variable {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.range {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
        width: 5%;
    }
}
