@import "../../../public/styles/global";

body {
    -webkit-user-select: none;
    user-select: none;
}

.box__variable {
    margin-top: 3vh;
    width: 85%;
    display: flex;
    justify-content: center;
    font-family: "Nacelle";
    // border: 2px solid cyan;
}

.withTitle,
.withoutTitle {
    font-style: normal;
    border-radius: 100px;
    padding: 5px 10px;
    width: 70%;
}

.withTitle {
    background-color: $black-color;
    color: $white-color;
}

.variable {
    display: flex;
    flex-direction: column;
    width: 90%;
    // border: 2px solid purple;
}

.fontcard__ctn {
    width: 50%;
    height: 14vh;
    // border: 2px solid blue;
}

.cursor__box {
    display: flex;
}

.range {
    // border: 2px solid red;
    z-index: 100;
    display: flex;
    width: 15%;
    flex-direction: column;
    gap: 10px;
    input {
        width: 70%;
    }
}

.paragraph__section {
    margin-top: 4vh;
    padding: 20px 30px;
    border: 2px solid $black-color;
}
