@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

.card__small {
  width: 100%;
  min-width: 200px;
  aspect-ratio: 1;
  border-radius: 20px;
  font-family: "InstrumentSans-Medium";
  border: 1px solid #bbb5b5;
  // transition: all 0.15s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 10px 11px -8px rgba(173, 173, 173, 0.1);
  position: relative;
  overflow: hidden;
}

.card__small:hover {
  color: $white-color;
  background-color: #4a4a4d;
  transition: 0.3s ease-in-out;
  border: 1px solid $white-color;
  button {
    color: $white-color;
  }
}

.card {
  width: 23%;
  // border: 2px solid blue;
  min-width: 200px;
  aspect-ratio: 1;
  border-radius: 20px;
  font-family: "InstrumentSans-Medium";
  border: 1px solid #bbb5b5;
  // transition: all 0.15s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 10px 11px -8px rgba(173, 173, 173, 0.1);
  position: relative;
  overflow: hidden;

  &__settings {
    position: absolute;
    top: 0.7vw;
    right: 0.7vw;
    z-index: 3;
    opacity: 0;
  }
  &__box {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__letter {
    padding: 1vw 1.5vw;
    line-height: 1;
    position: relative;
    font-display: swap;

    &__letters {
      position: absolute;
      top: 0;
      left: 1.5vw;
      font-size: 7vw;
      line-height: 1;
      // background-color: $white-color;
      width: 90%;
      height: 100%;
    }

    &__text {
      z-index: -1;
      position: absolute;
      opacity: 0;
      -webkit-user-select: none;
      user-select: none;
      top: 1.4vw;
      left: 1.5vw;
      height: 30px;
      width: 75%;
      // border: 2px solid red;
      padding: 0;
      margin: 0;
      font-size: 1.7vw;
      line-height: 1;
    }
  }

  &__details {
    position: absolute;
    bottom: 0;
    padding: 1vw 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    width: 100%;
    &__name {
      width: 100%;
      // font-size: 1.2vw;
      overflow: hidden;
      text-overflow: ellipsis " ...";

      span {
        font-size: 1.1vw;
        width: 90%;
        text-wrap: nowrap;
      }
    }
    &__links {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 0.2vw;
      // border: 2px solid red;

      button {
        border: none;
        background: none;
        font-family: "InstrumentSans-Regular";
        font-size: 1vw;
        font-style: normal;
        margin: 0;
        padding: 0;
        text-align: left;
        // transition: all 0.15s ease-in-out;
      }
    }
  }
  &__favorite {
    position: absolute;
    bottom: 0.7vw;
    right: 0.7vw;
    // border: 2px solid red;
    width: 1.5vw;
    height: 1.5vw;

    &__ctn {
      width: 100%;
      height: 100%;
      position: relative;
      &__input {
        position: absolute;
        // border: 2px solid blue;
        width: 100%;
        height: 100%;
        top: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        z-index: 100;
        cursor: pointer;
      }
    }
  }
}

.card:hover {
  color: $white-color;
  background-color: #4a4a4d;
  transition: 0.3s ease-in-out;
  border: 1px solid $white-color;
  button {
    color: $white-color;
  }
  .card__settings {
    opacity: 1;
    transition: all 0.3s ease-in;
  }
  .card__letter {
    &__letters {
      z-index: -1;
    }
    &__text {
      transition: all 0.3s 0.1s ease-in;
      opacity: 1;
      z-index: 1;
    }
  }
}

$anim-duration: 1; // in seconds

.loading {
  width: 23%;
  aspect-ratio: 1;
  background-color: #e6e6e98e;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.397),
      transparent
    );
    animation: slide 0.5s linear forwards;
  }
}

@keyframes slide {
  0% {
    left: -200%;
    transition-property: left;
  }
  100% {
    left: 200%;
    transition-property: left;
  }
}
