@use "/public/styles/utils/breakpoints" as u;
@import "../../../public/styles/global";

body {
  -webkit-user-select: none;
  user-select: none;
}

.variable {
  width: 80%;
  margin-left: 20%;
  color: $font-darkgrey-color;

  @include u.breakpoint("large") {
    width: 100%;
    margin-left: 0%;
  }

  &__title {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    background-color: #fff8f8af;
    width: 100%;
    min-height: 70px;
    height: 5dvw;
    z-index: 900;
    box-sizing: border-box;

    @include u.breakpoint("large") {
      min-height: 70px;
      height: 20dvw;
    }
    &__ctn {
      font-family: "InstrumentSans-Regular";
      display: flex;
      gap: 2vw;
      height: 3.5vw;
      align-items: center;

      @include u.breakpoint("large") {
        height: 10vw;
        margin-left: 5%;
        margin-top: 2vh;
      }

      h3 {
        font-family: "InstrumentSans-Regular";
        font-size: 2vw;
        height: 3.5vw;
        line-height: 250%;
        font-weight: 300;
        margin: 0;
        padding: 0;

        @include u.breakpoint("large") {
          font-size: 8vw;
          line-height: 100%;
        }
      }
    }
  }
}

.nochoosedfont {
  font-size: $fontsize-s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 2vw;

  @include u.breakpoint("large") {
    font-size: 4vw;
    margin-left: 5%;
  }
}

.tips {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9vw;
  color: $font-fade-blue;

  @include u.breakpoint("large") {
    font-size: 3vw;
    margin-left: 5%;
  }
}

.variable__section {
  height: 100dvh;
  width: 100%;
  overflow-y: scroll;
}

.withTitle,
.withoutTitle {
  margin-top: 1.8vw;
  font-style: normal;
  border-radius: 100px;
  padding: 5px 10px;
  padding-top: 10px;

  @include u.breakpoint("large") {
    margin-top: 5vw;
  }
}

.withoutTitle {
  border: 1px solid $lightgrey-color;
  color: $lightgrey-color;
}

.withTitle {
  border: 1px solid $primary-color;
  background-color: $primary-color;
  color: $white-color;
}
