@use "/public/styles/utils/breakpoints" as u;
@import "../../../public/styles/global";

body {
  -webkit-user-select: none;
  user-select: none;
}

.variable {
  width: 80%;
  margin-left: 20%;
  color: $font-darkgrey-color;

  &__title {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    background-color: #fff8f8af;
    width: 100%;
    min-height: 70px;
    height: 5dvw;
    // border-bottom: 1px solid rgb(156, 156, 156);
    z-index: 900;
    box-sizing: border-box;

    &__ctn {
      font-family: "InstrumentSans-Regular";
      display: flex;
      gap: 2vw;
      height: 3.5vw;

      align-items: center;
      h3 {
        font-family: "InstrumentSans-Regular";
        font-size: 2vw;
        height: 3.5vw;
        // border: 2px solid red;
        line-height: 250%;
        font-weight: 300;
        margin: 0;
        padding: 0;
        @include u.breakpoint("large") {
          font-size: 12vw;
          height: 13.5vw;
        }
      }
    }
  }
}

.nochoosedfont {
  font-size: $fontsize-s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 2vw;
}

.tips {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9vw;
  color: $font-fade-blue;
}

.variable__section {
  height: 100dvh;
  width: 100%;
  overflow-y: scroll;
  // border: 2px solid brown;
}

.withTitle,
.withoutTitle {
  margin-top: 1.8vw;
  font-style: normal;
  border-radius: 100px;
  padding: 5px 10px;
  padding-top: 10px;
}

.withoutTitle {
  border: 1px solid $lightgrey-color;
  color: $lightgrey-color;
}

.withTitle {
  border: 1px solid $primary-color;
  background-color: $primary-color;
  color: $white-color;
}
