@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

.folder {
  z-index: 999;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputFile {
  width: 100%;
  padding: 0.7vw 1.5vw;
  border-top: 1px solid rgb(156, 156, 156);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &__label {
    color: $font-darkgrey-color;
    font-family: "InstrumentSans-Medium";
    font-size: 1vw;
    z-index: 3;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  &__input {
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: -1;
  }
}

.inputFile:hover {
  border-top: 1px solid $button-blue;
  background-color: $button-blue;
}
.inputFile:hover .inputFile__label {
  color: $white-color;
}
