@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

.fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("/background.png");
    z-index: -1;
}

.logo {
    position: fixed;
    top: 1vw;
    left: 1vw;
    width: 7vw;
}


.welcome {
    // z-index: 1;
    position: relative;
    height: 100vh;
}



