@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

.fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/background.png");
  background-size: cover;
  z-index: -1;
}

.logo {
  position: fixed;
  top: -0.5vw;
  left: 1vw;
  width: 6vw;
  height: 3vw;
  // border: 2px solid red;

  @include u.breakpoint("large") {
    width: 20vw;
    top: 0px;
  }
}

.welcome {
  // z-index: 1;
  position: relative;
  height: 100vh;
}
