@font-face {
    font-family: "Poppins";
    src: url(../typefaces/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Nacelle";
    src: url(../typefaces/Nacelle-Regular.otf);
}
@font-face {
    font-family: "Nacelle-Bold";
    src: url(../typefaces/Nacelle-Bold.otf);
}

$black-color: #141212;
$white-color: #f8f8f1;
