@font-face {
    font-family: "Poppins";
    src: url(../typefaces/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Nacelle-Bold";
    src: url(../typefaces/Nacelle-Bold.otf);
}

$black-color: #141212;
