@import "../../../public/styles/global";
.register,
.registerForm__connect {
    border: none;
    border-radius: 33px;
    background-color: $black-color;
    color: $white-color;
    width: 10%;
    height: 4vh;
    font-family: "Nacelle-Bold";
    font-size: 1.3rem;
}
.registerForm__connect {
    width: 40%;
}

.registerForm {
    display: flex;
    flex-direction: column;
    border: 2px solid $black-color;
    font-family: "Nacelle";
    font-size: 2rem;
    width: 30%;
    font-weight: 600;

    &__form {
        display: flex;
        flex-direction: column;
    }
    &__username,
    &__email,
    &__pwd,
    &__email,
    &__confirmPwd {
        display: flex;
        flex-direction: column;
    }
    &__input {
        height: 2vh;
        font-family: "Nacelle";
        font-size: 1rem;
    }
}

.instructions {
    font-size: 15px;
    background-color: $black-color;
    color: $white-color;
    border-radius: 13px;
    padding: 4px;
    font-family: "Nacelle";
}

.offscreen {
    display: none;
}
