@import url(../../public/styles/_global.scss);

.test__view {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__big {
        font-size: 3vw;
    }
    &__medium {
        font-size: 2vw;
    }
    &__medium {
        font-size: 1vw;
    }
    &__typeface {
        font-size: 0.7vw;
        font-family: "Nacelle-Bold";
    }
}
