@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

$anim-duration: 5; // in seconds
$anim-speed: 0.65;

.login {
  font-family: "InstrumentSans-Regular";
  font-size: $fontsize-m;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  text-wrap: nowrap;
  border-radius: 100px;
  padding: 0.4vw 1.3vw;
  cursor: pointer;
  overflow: hidden; //overflow the hover animation

  @include u.breakpoint("large") {
    font-size: 3.5vw;
    padding: 1vw 3.5vw;
  }

  &::before {
    pointer-events: none !important;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    left: -100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
  }

  &:hover {
    &::before {
      pointer-events: none !important;
      transform: translateX(200%);
    }
  }
  &:active {
    outline: 1px solid $font-fade-blue;
  }

  &__btn {
    font-family: "InstrumentSans-Regular";
    font-style: normal;
    font-size: clamp(f.rem(13), 1.3vw, f.rem(18));
    border: none;
    padding: 0;
    margin: 0;
    color: $white-color;
    @include u.breakpoint("large") {
      width: 100%;
      font-size: 4vw;
    }
  }
}
