@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

.offscreen {
    display: none;
    opacity: 0;
}

.connect {
    opacity: 0;
}

.login {
    position: absolute;
    top: 2vh;
    right: 2vw;
    background-color: $black-color;
    border-radius: 33px;
    width: f.rem(130);
    height: clamp(f.rem(45), f.rem(45) + 2vh, f.rem(55));
    z-index: 10;
    display: flex;
    flex-direction: column;

    &__ctn {
        position: relative;
        border: 2px solid purple;
        z-index: 15;
        border: none;
        margin-inline: auto;
        background: transparent;
        font-family: "Nacelle-Bold";
        font-size: $fontsize-s;
    }
    &__btn {
        border: none;
        color: $white-color;
    }

    button {
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: $fontsize-s;
        color: $white-color;
        animation: changeFontOut 2s;
    }
    button:hover {
        animation: changeFont 3s;
        animation-fill-mode: both;
    }
}

//___KEY FRAMES_________________________________________________________
@keyframes changeFont {
    0% {
        font-family: "Courier New", Courier, monospace;
    }
    2% {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
            Geneva, Verdana, sans-serif;
    }
    3% {
        font-family: "Poppins";
    }
    5% {
        font-family: "Nacelle";
    }
    7% {
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }
    9% {
        font-family: "VCR_OSD";
    }
    100% {
        font-family: "VCR_OSD";
    }
}

@keyframes changeFontOut {
    0% {
        font-family: "VCR_OSD";
    }
    2% {
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }
    3% {
        font-family: "Nacelle";
    }
    5% {
        font-family: "Poppins";
    }
    7% {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
            Geneva, Verdana, sans-serif;
    }
    9% {
        font-family: "Courier New", Courier, monospace;
    }
    12% {
        font-family: Arial, Helvetica, sans-serif;
    }
}
