@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";



.login {
    position: relative;
    font-family: "InstrumentSans-Regular";
    font-size: $fontsize-m;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    padding: 0.4vw 1.5vw;
    cursor: pointer;

    &__btn {
        font-family: "InstrumentSans-Regular";
        font-style: normal;
        border: none;
        padding: 0;
        margin: 0;
        color: $white-color;
     
    }
  
}

