@import "../../../public/styles/global.scss";

.sort {
  margin-left: 1vw;
  display: flex;
  align-items: last baseline;
  justify-content: center;
  //   border: 2px solid blue;
  font-size: 1vw;
  gap: 1vw;

  &__selector,
  &__span {
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    color: $font-darkgrey-color;
    font-size: 1.05vw;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  &__span {
    margin-right: 0.5vw;
  }

  &__selector {
    transition: 0.3s ease-in-out;
    color: $font-darkgrey-color;
  }
  &__selector:hover {
    color: $font-fade-blue;
  }
}

.active {
  color: $font-fade-blue;
}
