@use "/public/styles/utils/breakpoints" as u;
@use "/public/styles/utils/functions" as f;
@import "../../../public/styles/global";

.error {
    margin: 0;
    margin-top: 5px;
    font-size: 0.8rem;
    color: #fe4444;
}

.instructions {
    padding: 3px 5px;
    color: #fe4444;
    border: 1px solid #fe4444;
    border-radius: 5px;
    font-size: 0.8rem;
}
.offscreen {
    display: none;
}

.profil__section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    height: 90dvh;
    margin-left: 7vw;
    width: 85%;
    overflow-y: auto;
}
.profil {
    width: 90%;
    font-family: "Nacelle";
    font-weight: 500;

    h1 {
        position: sticky;
        top: 0;
        padding-top: 3vh;
        font-family: "Nacelle-Bold";
        font-size: $fontsize-m;
        height: f.rem(80);
        margin-top: 3vh;
        border-bottom: 1px solid $black-color;
        background-color: $white-color;
    }
}

form {
    margin-bottom: 50px;
}

button {
    cursor: pointer;
    border: 1px solid $black-color;
    background-color: inherit;
    color: $black-color;

    border-radius: 8px;
    font-family: "Nacelle";
    font-style: italic;
    font-size: 1rem;
    padding: 10px 18px 7px 15px;
}

.profil__user {
    margin-top: 12vh;
    &__name,
    &__email {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        label {
            margin-bottom: 4px;
        }
        input {
            height: f.rem(30);

            border: 1px solid #3f3c3caa;
            border-radius: 5px;
        }
    }
}

.profil__password {
    &__old,
    &__new,
    &__confirm {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        label {
            margin-bottom: 4px;
        }
        input {
            height: f.rem(30);
            border: 1px solid #3f3c3caa;
            border-radius: 5px;
        }
    }
}

.email__preferences {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
}

.manage {
    background-color: $black-color;
    color: $white-color;
}

.wrapper__settings {
    background-color: $grey-color;
    margin-top: f.rem(10);
    margin-bottom: f.rem(15);
    height: calc(f.rem(38) + 3px);

    border-radius: 7px;
    display: flex;
    width: 20%;
    justify-content: center;
    position: relative;
    overflow: hidden;
    button {
        font-size: $fontsize-xxs;
        color: $white-color;
        z-index: 1000;
        background: none;
        border: none;
        font-style: normal;
    }
}

.wrapper__settings:hover #hover {
    bottom: 0;
    transition: 0.3s;
    cursor: pointer;
}

#hover {
    width: 100%;
    height: calc(f.rem(38) + 3px);
    background-color: $magenta-color;
    bottom: calc((f.rem(38) + 3px) * -1);
    position: absolute;
    transition: 0.3s;
}
